@charset "utf8";

body {
    margin: auto;
    width: 500px;
    height: 3800px;
    font-size: 2em;
    
       
}

#caixa {
    background-color: blue;
    position: fixed;
    width: 500px;
    color: azure;
    margin-top: 480px;
}


